{% extends "blog/base.html" %}
 {% block content %} 
<div class="container-fluid" style="height:550px;">
	<div class="row">
		<div class="col-md-6"> 
			<h1 style="color:blue;">About us</h1>
			<p>Our Mission: "To provide the best of technical skills, professional ethics and human values" </p>
			<p>Our Vision: "To become a centre for excellence in the field of technical education and research"</p>
		</div>
		<div class="col-md-6">
			<h1 style="color:blue;">Contact Us</h1>
			<p>If you have any questions about these terms and conditions, the practices of this site, or your dealings with this site, please contact us here</p>
			<p>Silicon Hills, Patia, Bhubaneswar, Orissa, India 751024<p> 
			<p>Ph-91 8260333609<p>
			<p>E-mail- info@silicon.ac.in<p>
			<p>www.silicon.ac.in/sitbbsr/</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h1 style="color:blue;">Terms Of Service</h1>
			<p>Discussion forum communications do not constitute legal advice, nor do they create a lawyer-client relationship.</p>
			<p>The opinions expressed by Discussion Forum participants do not necessarily reflect those of the Silicon Institute Of Technology, its Sections or Committees</p>
			
		</div>
		<div class="col-md-6">
			<h1 style="color:blue;">Help Desk</h1>
			<p>Ph-91 8260333609</p>
			<p>E-mail- info@silicon.ac.in</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h1 style="color:blue;">Team</h1>
			<p>Romasha Prusty</p>
			<p>Sarthak Patnaik</p>
			<p>Aditya Patnaik</p>
			<p>Suman Mandal</p>
		</div>
		<div class="col-md-6">
			<h1 style="color:blue;">Privacy Policy</h1>
			<p>This Policy (together with our Terms of Use and any other documents referred to on it) </p>
			<p>sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. </p>
		</div>
	</div>
</div>
{% endblock %}